{# src/AppBundle/AdminBundle/Resources/views/Default/listMessage#}
{% extends '::base.html.twig' %}
{% block pagetitle %}<h1>Livre d'Or</h1>{% endblock %}
{% block bodyContent %} 
    {% for Message in message %}
        {%if Message.published == 1%}
            <p class='text-justify'>{{Message.texte}}</p>
            <em class='u-pull-right'>{{Message.person.lastname}}</em><br>
            <p class='text-center'>***</p>
        {%else%}
            {# mettre valeur par défaut #}
        {%endif%}
    {% endfor %}
{% endblock %}